@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontweb;
    src: url("../assets/RobotoSlab-Medium.ttf");
}

body {
    color: #393939;
    font-family: fontweb;
    font-size: 14px;
    background-color: #ffffff;
}

/* Container chứa sidebar và main content */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Sidebar */
aside {
    width: 280px;
    background: #ddffef;
    padding: 20px;
    flex-shrink: 0;
    border: 1px solid #beffe1;
}

.sidebar-link {
    color: #393939;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.2s;
    margin: 6px 12px;
}

.sidebar-link:hover {
    background-color: #b3ffdc;
    transform: translateX(4px); 
    color: #1c5083;
}

.sidebar-link active{
    background-color: #84ffc6;
    color: #0d3c6b;
}

.sidebar-link:hover #dashboard-icon{
    content: url('./dashboard1.png');
}

.sidebar-link active #dashboard-icon{
    content: url("./dashboard2.png");
}

.sidebar-link:hover #order-icon{
    content: url('./order1.png');
}

.sidebar-link active #order-icon{
    content: url("./order2.png");
}

.sidebar-link:hover #book-icon{
    content: url('./book1.png');
}

.sidebar-link active #book-icon{
    content: url("./book2.png");
}

.sidebar-link:hover #customer-icon{
    content: url('./customer1.png');
}

.sidebar-link active #customner-icon{
    content: url("./customer2.png");
}

.sidebar-link:hover #staff-icon{
    content: url('./staff1.png');
}

.sidebar-link active #staff-icon{
    content: url("./staff2.png");
}

.sidebar-link:hover #receipt-icon{
    content: url('./receipt1.png');
}

.sidebar-link active #receipt-icon{
    content: url("./receipt2.png");
}

.sidebar-link:hover #deal-icon{
    content: url('./deal1.png');
}

.sidebar-link active #deal-icon{
    content: url("./deal2.png");
}

.sidebar-link:hover #report-icon{
    content: url('./report1.png');
}

.sidebar-link active #report-icon{
    content: url("./report2.png");
}

.sidebar-link:hover #rule-icon{
    content: url('./rule1.png');
}

.sidebar-link active #rule-icon{
    content: url("./rule2.png");
}

.sidebar-link:hover #logout-icon{
    content: url('./logout1.png');
}

.sidebar-link active #logout-icon{
    content: url("./logout2.png");
}

.logo {
    color: #104e8c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: middle;
}

.icon-logo{
    width: 32px;
    height: 32px;
    margin-right: 12px;
    vertical-align: middle;
}

/* Main content chiếm toàn bộ phần còn lại */
.main-content {
    flex: 1;
    overflow-y: hidden;
}
